 html{
     margin: 0;
     padding: 0;
}
 body{
     /*display: flex;*/
     margin: 0;
     padding: 0;
 }
.backgroundimage {
    background-size: cover;
    background: url('/resources/images/crossfit-534615_1920.jpg') no-repeat center center;
    height: 100%;
}
