<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="header">
    <meta charset="UTF-8"/>
    <link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/resources/css/fullimg.css}" rel="stylesheet"/>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <title>FitGym</title>
</head>
<body>

<!--####### CONTENT #######-->
<div th:fragment="userpage">
    <div th:replace="fragment/fragments :: navbar"></div>
    <div class="customrow">
        <div class="row">
            <div class="col-md-4">
                <div th:replace="fragment/fragments :: allmenu"></div>
            </div>
            <div class="col-md-8">
                <div th:replace="fragment/fragments :: allpanel"></div>
                <div class="container" th:fragment="userarea">
                    <div class="container kolorek"><h6
                            th:text="'Aktualnie zalogowany użytkownik: '+${nazwaUzytkownika}"></h6></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--####### NAVBAR #######-->
<div class="bar" th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <b>Fit Gym</b>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/oferta">Oferta</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cennik">Cennik</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/onas">O nas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/galeria">Galeria</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/kontakt">Kontakt</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="nav-link" href="/admin/adminpage">Strona administratora</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_MANAGEMENT')">
                    <a class="nav-link" href="/management/managementpage">Strona menedżera</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_STAFF')">
                    <a class="nav-link" href="/staff/staffpage">Strona obsługi</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_INSTRUCTOR')">
                    <a class="nav-link" href="/instructor/instructorpage">Strona instruktora</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_MEMBER')">
                    <a class="nav-link" href="/member/memberpage">Strona członka klubu</a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse" sec:authorize="hasRole('ROLE_ANONYMOUS')">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/login">Zaloguj</a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse"
             sec:authorize="hasAnyRole( 'ROLE_ADMIN','ROLE_MANAGEMENT','ROLE_STAFF','ROLE_INSTRUCTOR','ROLE_MEMBER')">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/logout" th:text="'Wyloguj: '+${nazwaUzytkownika}"></a>
                </li>
            </ul>
        </div>
    </nav>
</div>


<!--####### MENU #######-->
<div class="nav-side-menu" th:fragment="allmenu">
    <div class="brand">
        <div class="ratio img-responsive img-circle"
             style="background-image: url(https://i0.wp.com/digital-photography-school.com/wp-content/uploads/flickr/8260117875_5ab9373bce_o.jpg?resize=600%2C401&ssl=1);"></div>
    </div>
    <!--<i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content">dfdf</i>-->

    <div class="menu-list">
        <ul sec:authorize="hasRole('ROLE_ADMIN')" id="menu-content" class="menu-content collapse out">
            <li>
                <a href="/admin/adminpage">
                    <i class="fa fa-dashboard fa-lg"></i> PANEL ADMINISTRACYJNY FitGym
                </a>
            </li>
            <li data-toggle="collapse" data-target="#adminusermanagement" class="collapsed">
                <a href="#"><i class="fa fa-globe fa-lg"></i> Zarządzanie użytkownikami FitGym <span
                        class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="adminusermanagement">
                <li><a href="/admin/adminpage/userlist">Lista użytkowników FitGym</a></li>
                <li><a href="/admin/adminpage/useradd">Dodanie użytkownika FitGym</a></li>
            </ul>
            <li>
                <a href="/admin/adminpage/dbadmin">
                    <i class="fa fa-user fa-lg"></i> Zarządzanie bazą danych</a>
            </li>
        </ul>

        <ul sec:authorize="hasRole('ROLE_MANAGEMENT')" id="menu-content" class="menu-content collapse out">
            <li>
                <a href="/management/managementpage">
                    <i class="fa fa-dashboard fa-lg"></i> PANEL MENEDZERSKI FitGym
                </a>
            </li>
            <li>
                <a href="/management/managementpage">
                    <i class="fa fa-user fa-lg"></i> Aktualny stan klubu
                </a>
            </li>
            <li data-toggle="collapse" data-target="#personel" class="collapsed">
                <a href="#"><i class="fa fa-globe fa-lg"></i> Zarządzanie personelem FitGym<span
                        class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="personel">
                <li>Zarządzanie obsługą klubu</li>
                <li>Zarządzanie składowymi klubu</li>
                <li>Aktualny stan wspólpracujących instruktorów</li>
            </ul>
            <li data-toggle="collapse" data-target="#service" class="collapsed">
                <a href="#"><i class="fa fa-globe fa-lg"></i> Informacje o klubie <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="service">
                <li>Aktualny status członków FitGym</li>
                <li>Aktualny status obsługi klubu</li>
                <li>Aktualny stan wspólpracujących instruktorów</li>
            </ul>

        </ul>

        <ul sec:authorize="hasRole('ROLE_STAFF')" id="menu-content" class="menu-content collapse out">
            <li>
                <a href="/staff/staffpage">
                    <i class="fa fa-dashboard fa-lg"></i> PANEL OBSLUGI KLUBU
                </a>
            </li>
            <li data-toggle="collapse" data-target="#products" class="collapsed">
                <a href="/staff/staffpage">
                    <i class="fa fa-gift fa-lg"></i>Logowanie użytkowników</a>
            </li>
        </ul>

        <ul sec:authorize="hasRole('ROLE_INSTRUCTOR')" id="menu-content" class="menu-content collapse out">
            <li>
                <a href="/instructor/instructorpage">
                    <i class="fa fa-dashboard fa-lg"></i> PANEL INSTRUKTORA
                </a>
            </li>
            <li data-toggle="collapse" data-target="#products" class="collapsed">
                <a href="/instructor/instructorpage">
                    <i class="fa fa-gift fa-lg"></i> Zarządzanie treningami w FitGym</a>
            </li>
        </ul>

        <ul sec:authorize="hasRole('ROLE_MEMBER')" id="menu-content" class="menu-content collapse out">
            <li>
                <a href="/member/memberpage">
                    <i class="fa fa-dashboard fa-lg"></i> PANEL UŻYTKOWNIKA
                </a>
            </li>
            <li data-toggle="collapse" data-target="#products" class="collapsed active">
                <a href="/member/memberpage"><i class="fa fa-gift fa-lg"></i> Rezerwacja zajęć dodatkowych <span
                        class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="products">
                <li><a href="#">Basen</a></li>
                <li><a href="#">Masaż</a></li>
                <li><a href="#">Trening indywidualny</a></li>
            </ul>
            <li>
                <a href="/member/memberpage">
                    <i class="fa fa-user fa-lg"></i> Historia treningów
                </a>
            </li>
            <li data-toggle="collapse" data-target="#service" class="collapsed">
                <a href="/member/memberpage"><i class="fa fa-globe fa-lg"></i> Historia płatności <span
                        class="arrow"></span></a>
            </li>
        </ul>

        <ul id="menu-content" class="menu-content collapse out">
            <li>
                <a href="/member/memberpage">
                    <i class="fa fa-users fa-lg"></i> Moje dane all
                </a>
            </li>
        </ul>
    </div>
</div>


<!--####### PANEL #######-->
<div class="container" th:fragment="allpanel">
    <div sec:authorize="hasRole('ROLE_ADMIN')" class="container">
        <h1>Panel administracyjny Fitgym</h1>
        <hr/>
        <div th:if="${adminareaPanel == true}" th:insert="fragment/fragments :: adminareapanel"></div>
        <div th:if="${adminareaUsers == true}" th:insert="fragment/fragments :: adminareausers"></div>
        <div th:if="${adminareaUsersAdd == true}" th:insert="fragment/fragments :: adminareauseradd"></div>
        <div th:if="${adminareaDb == true}" th:insert="fragment/fragments :: adminareadb"></div>
    </div>

    <div sec:authorize="hasRole('ROLE_MANAGEMENT')" class="container">
        <h1>Panel menedżerski Fitgym</h1>
        <hr/>
    </div>

    <div sec:authorize="hasRole('ROLE_STAFF')" class="container">
        <h1>Panel obsługi Fitgym</h1>
        <hr/>
    </div>

    <div sec:authorize="hasRole('ROLE_INSTRUCTOR')" class="container">
        <h1>Panel instruktora Fitgym</h1>
        <hr/>
    </div>

    <div sec:authorize="hasRole('ROLE_MEMBER')" class="container">
        <h1>Panel użytkownika Fitgym</h1>
        <hr/>
    </div>

</div>


<!--####### AREA TASKS #######-->
<!-- ADMIN -->
<div class="container" th:fragment="adminareapanel">
    <h1>Status serwera: OK</h1>
    <h1>&nbsp;</h1>
    <h1 th:text="'Liczba userów to:'+${liczbaUzytkownikowFitgym}"></h1>
    <h1>&nbsp;</h1>

    <h3 th:if="${uptime != null}" th:text="'Uptime systemu: '+${uptimedate}"></h3>
    <h3 th:if="${nowdate != null}" th:text="'Aktualna data: '+${nowdate}"></h3>
    <h1>&nbsp;</h1>
</div>

<div class="container" th:fragment="adminareausers">
    <h3>Liczba użytkowników Fitgym</h3>
    <h4 th:text="${liczbaUzytkownikowFitgym}"></h4>
    <h3>&nbsp;</h3>
    <h3>Liczba aktywnych użytkowników Fitgym</h3>
    <h4 th:text="${liczbaAktywnychUzytkownikowFitgym}"></h4>
    <h3>&nbsp;</h3>
    <h3>Lista użytkowników</h3>
    <a href="/none">Lista użytkowników</a>
    <table class="table">
        <tr>
            <th scope="col">Imię</th>
            <th scope="col">Nazwisko</th>
            <th scope="col">Email</th>
            <th scope="col">Fitgymid</th>
            <th scope="col">Adres</th>


        </tr>
        <tr th:each="osoba : ${wszyscy}">
            <td th:text="${osoba.userimie}"></td>
            <td th:text="${osoba.usernazwisko}"></td>
            <td th:text="${osoba.useremail}"></td>
            <td th:text="${osoba.fitgymid}"></td>
            <td th:text="${osoba.adres}"></td>
        </tr>
    </table>
    <!--<h4 th:text="${wszyscy}"></h4>-->
    <h3>&nbsp;</h3>

    <h3>Dodaj uzytkownika</h3>
    <a href="/none">Dodaj uzytkownika</a>
    <h3>&nbsp;</h3>

    <h3>Usuń uzytkownika</h3>
    <a href="/none">Usuń uzytkownika</a>
    <h3>&nbsp;</h3>

    <h3>Zarządzanie rolami uzytkownika</h3>
    <a href="/none">Zarządzanie rolami uzytkownika</a>
    <h3>&nbsp;</h3>
</div>

<div class="container" th:fragment="adminareauseradd">
    <h3>Dodawanie uzytkownika</h3>
    <h3>&nbsp;</h3>
    <form action="#" th:action="@{/admin/adminpage/useraddaction}" method="post" th:object="${fitgymuser}">
        <div class="form-group">
            <label>Imie</label>
            <input class="form-control" type="text" id="userimie" th:field="*{userimie}">
        </div>
        <div class="form-group">
            <label>Nazwisko</label>
            <input class="form-control" type="text" id="usernazwisko" th:field="*{usernazwisko}">
        </div>
        <div class="form-group">
            <label>Email</label>
            <input class="form-control" type="text" id="useremail" th:field="*{useremail}">
        </div>
        <div class="form-group">
            <label>Fitgymid</label>
            <input class="form-control" type="text" id="fitgymid" th:field="*{fitgymid}">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input class="form-control" type="password" id="password" th:field="*{password}">
        </div>
        <div class="form-group">
            <label>Adres</label>
            <input class="form-control" type="text" id="adres" th:field="*{adres}">
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="enabled" th:checked="${fitgymuser.enabled}">
            <label class="form-check-label">Enabled</label>
        </div>
        <!--<input type="hidden" id="userroleid" th:field="*{userroleid}" value="5">-->
        <button class="btn btn-primary" type="submit">Dodaj uzytkownika</button>
    </form>

</div>

<div class="container" th:fragment="adminareadb">
    <h3>Informacje o bazie danych</h3>
    <a href="/none">Informacje o bazie danych</a>
    <h3>&nbsp;</h3>

    <h3>Status bazy danych</h3>
    <a href="/none">Status bazy danych</a>
    <h3>&nbsp;</h3>

    <h3>DB Dump</h3>
    <a href="/none">DB Dump</a>
    <h3>&nbsp;</h3>
</div>


<div class="container d-flex h-50" th:fragment="initial">
    <div class="row align-self-center w-100">
        <div class="col-4 ml-auto">
            <h1 class="display-1">Fit Gym</h1>
            <p class="lead">Witamy na stronie Fit Gym!</p>
        </div>
    </div>
</div>
<div class="container d-flex h-50" th:fragment="oferta">
    <div class="row align-self-center w-100">
        <div class="col-4 ml-auto">
            <h1 class="display-1">Fit Gym</h1>
            <p class="lead">Oferta</p>
        </div>
    </div>
</div>
<div class="container d-flex h-50" th:fragment="cennik">
    <div class="row align-self-center w-100">
        <div class="col-4 ml-auto">
            <h1 class="display-1">Fit Gym</h1>
            <p class="lead">Cennik</p>
        </div>
    </div>
</div>
<div class="container d-flex h-50" th:fragment="onas">
    <div class="row align-self-center w-100">
        <div class="col-4 ml-auto">
            <h1 class="display-1">Fit Gym</h1>
            <p class="lead">O nas</p>
        </div>
    </div>
</div>
<div class="container d-flex h-50" th:fragment="galeria">
    <div class="row align-self-center w-100">
        <div class="col-4 ml-auto">
            <h1 class="display-1">Fit Gym</h1>
            <p class="lead">Galeria</p>
        </div>
    </div>
</div>
<div class="container d-flex h-50" th:fragment="kontakt">
    <div class="row align-self-center w-100">
        <div class="col-4 ml-auto">
            <h1 class="display-1">Fit Gym</h1>
            <p class="lead">Kontakt</p>
        </div>
    </div>
</div>

<div class="container d-flex h-75" th:fragment="login">
    <div class="row align-self-center w-100">
        <div class="col-4 mx-auto">
            <form class="form-signin" th:action="@{/login}" method="post">
                <input type="text" id="username" name="username" class="form-control"
                       placeholder="Wpisz numer karty klubowej"
                       required
                       autofocus/>
                <input type="password" id="password" name="password" class="form-control" placeholder="Wpisz hasło"
                       required/>
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Zaloguj</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>