<!DOCTYPE html>
<html lang="en">
<head th:fragment="header">
    <meta charset="UTF-8"></meta>
    <link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet"></link>
    <link th:href="@{/resources/css/fullimg.css}" rel="stylesheet"></link>
    <title>FitGym</title>
</head>
<body>
<div class="bar" th:fragment="navbar">
    <!--<div container text-center>-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <b>Fit Gym</b>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/oferta">Oferta</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cennik">Cennik</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/onas">O nas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/galeria">Galeria</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/kontakt">Kontakt</a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/login">Zaloguj</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div class="container d-flex h-50" th:fragment="initial">
    <div class="row align-self-center w-100">
        <div class="col-4 ml-auto">
            <h1 class="display-1">Fit Gym</h1>
            <p class="lead">Witamy na stronie Fit Gym!</p>
        </div>
    </div>
</div>
<div class="container d-flex h-50" th:fragment="oferta">
    <div class="row align-self-center w-100">
        <div class="col-4 ml-auto">
            <h1 class="display-1">Fit Gym</h1>
            <p class="lead">Oferta</p>
        </div>
    </div>
</div>
<div class="container d-flex h-50" th:fragment="cennik">
    <div class="row align-self-center w-100">
        <div class="col-4 ml-auto">
            <h1 class="display-1">Fit Gym</h1>
            <p class="lead">Cennik</p>
        </div>
    </div>
</div>
<div class="container d-flex h-50" th:fragment="onas">
    <div class="row align-self-center w-100">
        <div class="col-4 ml-auto">
            <h1 class="display-1">Fit Gym</h1>
            <p class="lead">O nas</p>
        </div>
    </div>
</div>
<div class="container d-flex h-50" th:fragment="galeria">
    <div class="row align-self-center w-100">
        <div class="col-4 ml-auto">
            <h1 class="display-1">Fit Gym</h1>
            <p class="lead">Galeria</p>
        </div>
    </div>
</div>
<div class="container d-flex h-50" th:fragment="kontakt">
    <div class="row align-self-center w-100">
        <div class="col-4 ml-auto">
            <h1 class="display-1">Fit Gym</h1>
            <p class="lead">Kontakt</p>
        </div>
    </div>
</div>

<div class="container d-flex h-75" th:fragment="login">
    <div class="row align-self-center w-100">
        <div class="col-4 mx-auto">
            <form class="form-signin" action="#" th:action="@{/userpage}" method="post">
                <input type="text" id="inputText" class="form-control" placeholder="Wpisz numer karty klubowej"
                       required
                       autofocus/>
                <input type="password" id="inputPassword" class="form-control" placeholder="Wpisz hasło" required/>
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Zaloguj</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>